body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.16);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%),
    inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}
/*Extra small	None	<576px
  Small	sm	≥576px
  Medium	md	≥768px
  Large	lg	≥992px
  Extra large	xl	≥1200px
  Extra extra large	xxl	≥1400px */
